body{
    margin: 0;
     
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    width: 1280px;
    color:#000000;
    text-transform: uppercase;
}

.main-header{
    position: relative;
}

.main-header-logo {
    position: absolute;
    z-index: 400;
    left: 600px;
    top: 0 auto;
    border-style: none;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

h3{
    font-size: 21px;
    font-weight: bold;
    color: #000000;    
}

.navigation-link-item{
    list-style: none;   
}

.visually-hidden{
    display: none;
}

.advantages-sedona{
    font-size: 21px;
    font-weight: bold;
    color: #000000;

    background-color: white;
}

.advantages-sedona-look{
    text-transform: uppercase;
    color: #333333;
    
    background-color: white;
}

.advantages-sedona-main li{
    list-style: none;
    line-height: 21px;  
}

.advantages-sedona-blue{
    background-color: blue;
}

.offer-question{
    font-size: 30px;
    font-weight: bold;
    color: #000000;

    background-color: white;
}

.offer-choose{
    color: #333333;

    background-color: white;
}

.offer-search-hotel{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: white;
    border: 1px solid #766357;
    background-color: #766357;
}

.form-label-go,
.form-label-back,
.form-label-parents,
.form-label-children{
    font-weight: bold;
}

button{
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: white;
    border: 1px solid #81b3d2;
    background-color: #81b3d2;
}

.hashtag{
    font-size: 21px;
    font-weight: bold;
    color: #000000;

    background-color: white;
}

.htmlacademy-pointer{
    color: #000000;

    background-color: white;
}

/*hotel list*/
.hotel-item{
    list-style: none;
}

.hotel-name{
    font-size: 21px;
    font-weight: bold;
    color: #000000;

    background-color: white;
}

.hotel-description{
    color: #000000;

    background-color: white;
}

.hotel-level,
.hotel-price,
.hotel-stars{
    font-size: 14px;
    line-height: 21px;
    color: black;

    background-color: white;
}

.hotel-stars li{
    list-style: none;
}

/*grid*/

body{
    background-image: url('../img/backgroundimg.png');
    background-repeat: repeat; 
    
}

.conteiner{
    display: flex;
    margin: auto;
    width: 1200px;
    height: 56px;  
    padding: 0 40px;   
}

.navigation-link{
    width: 1056px;
    padding:0 72px;

    background-color: white;
}

.navigation-link-item{
    display: flex;
    justify-content: space-between;
}

.navigation-link-item li:first-child{
   justify-content: center;
}

.welcome-image img:nth-child(2){
    position: relative;
    width: 1200px;
    height: 800px;
    z-index:  100;
    padding: 0 40px;   
}

.welcome-image img:nth-child(3){
    position: absolute;
    z-index: 300;
    padding: 0 412px;
    left: 20px;
    top: 120px;
}

.welcome-image img:nth-child(4){
    width: 1267px;
    height: 60px;
    position: absolute;
    left: 40px;
    bottom: 55px;
}